<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Lock Widget"
        tools:ignore="MissingApplicationIcon">

        <receiver
            android:name=".LockWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lock_widget_info" />
        </receiver>

        <receiver
            android:name=".LockClickHandler"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>